# Gradle
.gradle/
build/
**/build/
local.properties

# IDEs
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Android Studio Navigation Editor temp files
.navigation/

# Log files
*.log

# Misc
*.apk
*.ap_